<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <!-- 文件输出格式 -->
    <property name="PATTERN" value="%-12(%d{yyyy-MM-dd HH:mm:ss.SSS}) |-%-5level [%thread] %c [%L] -| %msg%n"/>

    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
    <property name="LOG_HOME" value="/home/wanbowen/fisco_bcos_sdk2.0/logs" />

    <!-- 开发环境 -->
    <springProfile name="dev">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${PATTERN}</pattern>
            </encoder>
        </appender>
        <root level="info">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <!-- 测试环境 -->
    <springProfile name="test">
        <!-- 每天产生一个文件 -->
        <appender name="PROD_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

            <!-- 文件路径 -->
            <file>${LOG_HOME}/chain-sdk.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- 文件名称 -->
                <fileNamePattern>${LOG_HOME}/fisco_bcos_sdk.%d{yyyy-MM-dd}.log</fileNamePattern>
                <!-- 文件最大保存历史数量 -->
                <MaxHistory>100</MaxHistory>
            </rollingPolicy>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>${PATTERN}</pattern>
            </layout>
        </appender>
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${PATTERN}</pattern>
            </encoder>
        </appender>
<!--        <appender name="mqAppender1" class="org.apache.rocketmq.logappender.logback.RocketmqLogbackAppender">-->
<!--            <tag>*</tag>-->
<!--            <topic>chain-request-topic</topic>-->
<!--            <producerGroup>chain-service-group</producerGroup>-->
<!--            <nameServerAddress>120.24.71.79:9876</nameServerAddress>-->
<!--            <layout>-->
<!--                <pattern>%date %p %t - %m%n</pattern>-->
<!--            </layout>-->
<!--        </appender>-->

<!--        <appender name="mqAppender2" class="org.apache.rocketmq.logappender.logback.RocketmqLogbackAppender">-->
<!--            <tag>*</tag>-->
<!--            <topic>chain-response-topic</topic>-->
<!--            <producerGroup>chain-service-group</producerGroup>-->
<!--            <nameServerAddress>120.24.71.79:9876</nameServerAddress>-->
<!--            <layout>-->
<!--                <pattern>%date %p %t - %m%n</pattern>-->
<!--            </layout>-->
<!--        </appender>-->

<!--        <appender name="mqAsyncAppender1" class="ch.qos.logback.classic.AsyncAppender">-->
<!--            <queueSize>1024</queueSize>-->
<!--            <discardingThreshold>80</discardingThreshold>-->
<!--            <maxFlushTime>2000</maxFlushTime>-->
<!--            <neverBlock>true</neverBlock>-->
<!--            <appender-ref ref="mqAppender1"/>-->
<!--        </appender>-->

<!--        <appender name="mqAsyncAppender2" class="ch.qos.logback.classic.AsyncAppender">-->
<!--            <queueSize>1024</queueSize>-->
<!--            <discardingThreshold>80</discardingThreshold>-->
<!--            <maxFlushTime>2000</maxFlushTime>-->
<!--            <neverBlock>true</neverBlock>-->
<!--            <appender-ref ref="mqAppender2"/>-->
<!--        </appender>-->

        <root level="info">
            <appender-ref ref="PROD_FILE"/>
            <appender-ref ref="CONSOLE"/>
<!--            <appender-ref ref="mqAppender1"/>-->
<!--            <appender-ref ref="mqAppender2"/>-->
        </root>

    </springProfile>

    <!-- 生产环境 -->
    <springProfile name="prod">
        <!-- 每天产生一个文件 -->
        <appender name="PROD_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

            <!-- 文件路径 -->
            <file>${LOG_HOME}/chain-sdk.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- 文件名称 -->
                <fileNamePattern>${LOG_HOME}/fisco_bcos_sdk.%d{yyyy-MM-dd}.log</fileNamePattern>
                <!-- 文件最大保存历史数量 -->
                <MaxHistory>100</MaxHistory>
            </rollingPolicy>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>${PATTERN}</pattern>
            </layout>
        </appender>
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${PATTERN}</pattern>
            </encoder>
        </appender>
<!--        <appender name="mqAppender1" class="org.apache.rocketmq.logappender.logback.RocketmqLogbackAppender">-->
<!--            <tag>*</tag>-->
<!--            <topic>chain-request-topic</topic>-->
<!--            <producerGroup>chain-service-group</producerGroup>-->
<!--            <nameServerAddress>120.24.71.79:9876</nameServerAddress>-->
<!--            <layout>-->
<!--                <pattern>%date %p %t - %m%n</pattern>-->
<!--            </layout>-->
<!--        </appender>-->

<!--        <appender name="mqAppender2" class="org.apache.rocketmq.logappender.logback.RocketmqLogbackAppender">-->
<!--            <tag>*</tag>-->
<!--            <topic>chain-response-topic</topic>-->
<!--            <producerGroup>chain-service-group</producerGroup>-->
<!--            <nameServerAddress>120.24.71.79:9876</nameServerAddress>-->
<!--            <layout>-->
<!--                <pattern>%date %p %t - %m%n</pattern>-->
<!--            </layout>-->
<!--        </appender>-->

<!--        <appender name="mqAsyncAppender1" class="ch.qos.logback.classic.AsyncAppender">-->
<!--            <queueSize>1024</queueSize>-->
<!--            <discardingThreshold>80</discardingThreshold>-->
<!--            <maxFlushTime>2000</maxFlushTime>-->
<!--            <neverBlock>true</neverBlock>-->
<!--            <appender-ref ref="mqAppender1"/>-->
<!--        </appender>-->

<!--        <appender name="mqAsyncAppender2" class="ch.qos.logback.classic.AsyncAppender">-->
<!--            <queueSize>1024</queueSize>-->
<!--            <discardingThreshold>80</discardingThreshold>-->
<!--            <maxFlushTime>2000</maxFlushTime>-->
<!--            <neverBlock>true</neverBlock>-->
<!--            <appender-ref ref="mqAppender2"/>-->
<!--        </appender>-->

        <root level="error">
            <appender-ref ref="PROD_FILE"/>
            <appender-ref ref="CONSOLE"/>
<!--            <appender-ref ref="mqAppender1"/>-->
<!--            <appender-ref ref="mqAppender2"/>-->
        </root>
    </springProfile>

    <!--    第三方jar日志屏蔽-->
    <logger name="org.fisco.bcos.sdk.abi.wrapper.ABIDefinitionFactory" level="OFF">
    </logger>
    <logger name="org.fisco.bcos.sdk.abi.wrapper.ContractABIDefinition" level="OFF">
    </logger>
    <logger name="org.fisco.bcos.sdk.abi.wrapper.ABIObjectFactory" level="OFF">
    </logger>
    <logger name="org.springframework.web.servlet.DispatcherServlet" level="OFF">
    </logger>
    <logger name="org.fisco.bcos.sdk.crypto.keystore.KeyTool" level="OFF">
    </logger>



</configuration>
